{% extends 'home.html' %}
{% load static %}
{% block title %}
    System | Cultivos
{% endblock title %}

{% block body %}
    <div class="card roboto-condensed-regular">
        <div class="card-header p-2">
            <button type="button" onclick="showModalView('modal_crop_create')"
                    class="btn btn-secondary btn-sm"><i class="fas fa-plus"></i> Registrar Nuevo Cultivo
            </button>

        </div>
        <div class="card-body p-2">
            <div id="crop-grid-list"
                 class="table-responsive small">{% include "farm/crop_grid_list.html" %}</div>
        </div>
    </div>
    <div class="modal fade" id="modal-crop-create" tabindex="-1" role="dialog"
         aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>
    <div class="modal fade" id="modal-crop-update" tabindex="-1" role="dialog"
         aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>

{% endblock body %}

{% block extrajs %}

<script type="text/javascript">
    function showModalView(route) {
        $('#modal-crop-create').empty()
        $.ajax({
            url: '/farm/' + route + '/',
            dataType: 'json',
            type: 'GET',
            data: {'pk': 1},
            success: function (response) {
                $('#modal-crop-create').html(response.form);
                $('#modal-crop-create').modal('show');
            },
            fail: function (response) {
                toastr.error('Error en la petición', '¡Mensaje!');
            }
        });
    };
    $(document).on('click', '.item-edit', function () {
        let _pk = $(this).attr('pk');
        $('#modal-crop-update').empty()
        $.ajax({
            url: '/farm/modal_crop_update/',
            dataType: 'json',
            type: 'GET',
            data: {'pk': _pk},
            success: function (response) {
                $('#modal-crop-update').html(response.form);
                $('#modal-crop-update').modal('show');
            },
            fail: function (response) {
                toastr.error('Error en la petición', '¡Mensaje!');
            }
        });
    });
</script>
{% endblock extrajs %}

